<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Secure Page</title>
</head>
<body>
    <p>This is a secure page. We should not be able to get here without logging in.</p>

    <div>
        <h1>Welcome @User.Identity.Name</h1>
        <h4>Here are your claims</h4>
        <ul>
            @foreach (var claim in User.Claims)
            {
                <li>
                    <em>@claim.Type</em>: @claim.Value
                </li>
            }
        </ul>
    </div>
</body>
</html>