<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Unsecured home page</title>
</head>
<body>
    This is just an unsecured home/landing page. You can go to the secure area by clicking <a href="~/SecurePage">here</a>.
</body>
</html>