<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Secure Page</title>
</head>
<body>
    <p>This is a secure page. We should not be able to get here without logging in.</p>
</body>
</html>