<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
</head>
<body>
    <form>
        Username: <input type="text" asp-for="Username" /><br/>
        Password: <input type="password" asp-for="Password" /><br/>
        <input type="submit" value="Log in" />
    </form>
</body>
</html>